<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Twitter Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700'>

      <!-- <link rel="stylesheet" href="css/style.css"> -->
<style type="text/css">
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  /*background-image: url('http://www.planwallpaper.com/nature-background#static/images/Fall-Nature-Background-Pictures.jpg') ;*/
}

body {
  padding: 0;
  margin: 0;
  background: #4099FF;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.profile {
  max-width: 360px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
}
.profile section:nth-of-type(1) {
  position: relative;
}
.profile section:nth-of-type(1):after {
  content: "";
  width: 100%;
  height: 120px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, transparent, black);
  background-image: linear-gradient(to bottom,transparent, black);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.profile section:nth-of-type(1) img {
  width: 100%;
  height: auto;
}
.profile section:nth-of-type(1) .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px 10px;
  text-align: center;
  z-index: 2;
}
.profile section:nth-of-type(1) .text p {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 5px;
}
.profile section:nth-of-type(1) .text a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.profile section:nth-of-type(2) {
  width: 100%;
  background: #fff;
  padding: 50px 20px 25px;
  position: relative;
}
.profile section:nth-of-type(2) .info {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.profile section:nth-of-type(2) .info div {
  float: left;
  width: 33.33%;
  text-align: center;
}
.profile section:nth-of-type(2) .info div span {
  display: block;
}
.profile section:nth-of-type(2) .info div span:nth-of-type(1) {
  color: #4d4d4d;
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 5px;
}
.profile section:nth-of-type(2) .info div span:nth-of-type(2) {
  color: #4099FF;
  font-size: 16px;
  font-weight: 300;
}
.profile section:nth-of-type(2) .button {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
}
.profile section:nth-of-type(2) .button a {
  display: inline-block;
  background: #4099FF;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  padding: 15px 50px 15px 90px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.profile section:nth-of-type(2) .button a:hover {
  background: #0d7eff;
}
.profile section:nth-of-type(2) .button a svg {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 40px;
  height: 40px;
}
.profile section:nth-of-type(2) .button a svg path {
  fill: #fff;
}
.profile section:nth-of-type(2) > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  z-index: 0;
  margin-top: -60%;
  margin-left: -100%;
}
.profile section:nth-of-type(2) > svg path {
  fill: #f7f7f7;
}

footer {
  position: fixed;
  right: 30px;
  bottom: 40px;
}
footer a {
  color: #fff;
  font-size: 17px;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 300;
  display: inline-block;
  border-bottom: 2px dotted #fff;
  -webkit-transition: border-color 0.4s ease-in-out;
  -moz-transition: border-color 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out;
}
footer a:hover {
  border-color: #0d7eff;
}

</style>
  
</head>







<!-- document.getElementsByClassName('ProfileAvatar-image')[0].src
https://twitter.com/{user.}/profile_image?size=original -->
<!-- https://graph.facebook.com/{user.id}/picture?width=400&height=400 -->





<body>
  <div class="profile">
  <section>
    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/256492/-_aKpGQt_400x400.jpg" alt="Twitter Profile Picture"> -->
    <img src="<%= avatar %>" alt="Twitter Profile Picture">
    
    <div class="text">
      <p><%= name %></p>
      <a href="https://twitter.com/<%= account %>" target="_blank">@<%= account %></a>
    </div>
  </section>
  
  <section>
    <div class="info">

      <div>
        <span><%= tweets %></span>
        <span>Tweets</span>
      </div>
      
      <div>
        <span><%= following %></span>
        <span>Following</span>
      </div>
      
      <div>
        <span><%= followers %></span>
        <span>Followers</span>
      </div>

    </div>
    
    <div class="button">
      <a href="https://twitter.com/<%= account %>" target="_blank">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve"><path d="M153.6,301.6c94.3,0,145.9-78.2,145.9-145.9c0-2.2,0-4.4-0.1-6.6c10-7.2,18.7-16.3,25.6-26.6 c-9.2,4.1-19.1,6.8-29.5,8.1c10.6-6.3,18.7-16.4,22.6-28.4c-9.9,5.9-20.9,10.1-32.6,12.4c-9.4-10-22.7-16.2-37.4-16.2 c-28.3,0-51.3,23-51.3,51.3c0,4,0.5,7.9,1.3,11.7c-42.6-2.1-80.4-22.6-105.7-53.6c-4.4,7.6-6.9,16.4-6.9,25.8 c0,17.8,9.1,33.5,22.8,42.7c-8.4-0.3-16.3-2.6-23.2-6.4c0,0.2,0,0.4,0,0.7c0,24.8,17.7,45.6,41.1,50.3c-4.3,1.2-8.8,1.8-13.5,1.8 c-3.3,0-6.5-0.3-9.6-0.9c6.5,20.4,25.5,35.2,47.9,35.6c-17.6,13.8-39.7,22-63.7,22c-4.1,0-8.2-0.2-12.2-0.7 C97.7,293.1,124.7,301.6,153.6,301.6"/></svg>
 Follow</a>
    </div>
    
    
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve"><path d="M153.6,301.6c94.3,0,145.9-78.2,145.9-145.9c0-2.2,0-4.4-0.1-6.6c10-7.2,18.7-16.3,25.6-26.6 c-9.2,4.1-19.1,6.8-29.5,8.1c10.6-6.3,18.7-16.4,22.6-28.4c-9.9,5.9-20.9,10.1-32.6,12.4c-9.4-10-22.7-16.2-37.4-16.2 c-28.3,0-51.3,23-51.3,51.3c0,4,0.5,7.9,1.3,11.7c-42.6-2.1-80.4-22.6-105.7-53.6c-4.4,7.6-6.9,16.4-6.9,25.8 c0,17.8,9.1,33.5,22.8,42.7c-8.4-0.3-16.3-2.6-23.2-6.4c0,0.2,0,0.4,0,0.7c0,24.8,17.7,45.6,41.1,50.3c-4.3,1.2-8.8,1.8-13.5,1.8 c-3.3,0-6.5-0.3-9.6-0.9c6.5,20.4,25.5,35.2,47.9,35.6c-17.6,13.8-39.7,22-63.7,22c-4.1,0-8.2-0.2-12.2-0.7 C97.7,293.1,124.7,301.6,153.6,301.6"/></svg>
  </section>
</div>

<!-- <footer>
  <a href="https://dribbble.com/shots/2872995-Day-57-Twitter-Profile" target="_blank">Design by Kenneth Patterson</a>
</footer> -->
  









  
</body>
</html>
